{% extends 'base.html.twig' %}

{% block title %}New Etapes{% endblock %}

{% block body %}
    <h1>Create new Etapes</h1>

    {{ include('etapes/_form.html.twig') }}

    <a href="{{ path('etapes_index') }}">back to list</a>
{% endblock %}
