{% extends 'base.html.twig' %}
{% block body %}
  <div class="container">
    <div class="jumbotron mt-lg-5">
      <h1 class="display-3">Carnet de Voyage</h1>
      <div class="row align-items-lg-center">
        <div class="col-lg-7">
      <p>Gardez une trace de vos voyages, de leurs différentes étapes, et de leurs galeries photos. Suivez vos proches pendant leurs voyages et vivez leurs aventures au quotidien comme si vous y étiez...</p>
      </div>
      <div class="col-lg-5">
        <img src="{{ asset('images/planet.gif') }}" alt="" sizes="" srcset="">
      </div>

    </div>
      <hr class="my-4">
      <p class="text-center">Ceci est un projet "bac à sable". Il sera amené à évoluer et à être enrichi de multiples fonctionnalités</p>

    </div>
  </div>

{% endblock %}
