{% extends 'base.html.twig' %}

{% block title %}Edit Voyage{% endblock %}
{% form_theme form 'partiels/_collection.html.twig' %}

{% block body %}
    <div class="container">
    <h1>Edit Voyage</h1>
    {{ include('voyage/_form.html.twig', {'button_label': 'Update'}) }}
    <a href="{{ path('voyage_index') }}">back to list</a>
    {{ include('voyage/_delete_form.html.twig') }}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/imageVoyage.js') }}"></script>
{% endblock %}
