{% extends 'base.html.twig' %}

{% form_theme form 'partiels/_collection.html.twig' %}

{% block title %}New Voyage{% endblock %}

{% block body %}
  <div class="container">
    <h1 class="text-center">Nouveau Voyage</h1>
    {{ include('voyage/_form.html.twig') }}
    <a href="{{ path('voyage_index') }}">back to list</a>
  </div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/imageVoyage.js') }}"></script>
{% endblock %}